body{
    text-align:center;
    background-color:orange;
    }

.Game{
    color:red;
    }
.oof{
    font-family: 'Gloria Hallelujah', cursive;

    }    
p{
    font-size:50px;
    }
img {
    border-width:5px;
    border: groove;
    border-radius: 360px 360px 360px 360px;
    
    }
.RedDead{
    font-family: 'Lobster', cursive;
    }
.Cuttlefish{
    font-family: 'Righteous', cursive;
    }    
.character{
    font-family: 'Permanent Marker', cursive;
    }
    
    
    
    
    
    
    
    
    
    